@use "../_markdown";
@use "src/lib/mixins" as *;

.docs-page {
	color: var(--fds-text-primary);
	font-size: 1rem;
	line-height: 1.45;

	// Page header
	header {
		@include flex($align: center, $justify: space-between);
		margin-block-end: -20px;
		color: var(--fds-text-tertiary);
		white-space: nowrap;

		span {
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	.code-example {
		@include flex($align: center, $gap: 2rem);

		.example {
			width: fit-content;
			padding: 1.5rem;
			border: 1px solid var(--fds-control-stroke-default);
			border-radius: 1rem;
			block-size: 100%;

			&.code {
				pre {
					margin-block-end: 0;
					border-radius: 1rem;
					tab-size: 2;
				}
			}
		}

		svg {
			fill: var(--fds-text-primary);
		}
	}
}