@use "src/lib/mixins" as *;
@use "src/site/styles/mixins" as *;

:global {
	#hero-section {
		@include flex($direction: column, $justify: center, $align: center);
		position: relative;
		background: url("/hero-mica-light.png") center/170% no-repeat;
		text-align: center;
		min-block-size: 596px;
		@media (prefers-color-scheme: dark) {
			background-image: url("/hero-mica-dark.png");
		}

		> .page-section-inner {
			@include flex($direction: column, $align: center);
			position: relative;
			padding-block: 58px 128px;
		}

		h1 {
			font-size: 5.4rem;
		}

		.hero-card {
			.text-box-container {
				margin-block-start: 4px;
				margin-block-end: 14px;
			}

			.copy-box {
				font-family: var(--font-family-monospace);
			}

			header > .icon-button {
				position: absolute;
				inset-block-start: 6px;
				inset-inline-end: 6px;
			}
		}

		.buttons-spacer .button {
			min-width: 128px;
		}
	}
}

.hero- {
	&contents,
	&cards {
		position: relative;
	}

	&cards {
		position: absolute;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-gap: 24px;
		padding: 0 72px;
		text-align: left;
		inset-block-start: calc(100% - 48px);
		inline-size: 100%;
		//inline-size: 90vw;
		max-inline-size: 1080px;
	}
}

.editor-body {
	@include flex($direction: column);
	flex: 1 1 auto;
	min-height: 0;
	max-height: 100%;
	font: {
		size: var(--body-font-size);
		family: var(--font-family-monospace);
	}
	line-height: 18px;

	.editor-tabs {
		@include flex($align: center);
		flex: 0 0 auto;
		margin: 0;
		padding: 0;

		li {
			@include typography-body;
			margin: 0;
			padding: 6px 12px;
			border: 1px solid var(--divider-stroke-default);
			border-bottom: none;
			background-color: var(--solid-background-base);
			list-style-type: none;
			border-block-start: 2px solid #ff3e00;
		}
	}

	.editor {
		@include prism-vs-light;
		display: flex;
		flex: 1 1 auto;
		min-height: 0;
		max-height: 100%;
		border: 1px solid var(--divider-stroke-default);
		border-radius: var(--control-corner-radius);
		border-top-left-radius: 0;
		background-color: var(--solid-background-base);
		overflow: auto;

		@media (prefers-color-scheme: dark) {
			@include prism-vs-dark;
			color-scheme: dark;
		}
		@supports (overflow: overlay) {
			overflow: overlay;
		}

		pre {
			margin: 0;
			padding: 4px;
			user-select: text;

			code {
				line-height: inherit;
			}
		}
	}

	.line-numbers {
		position: sticky;
		left: 0;
		z-index: 1;
		align-self: flex-start;
		flex: 0 0 auto;
		padding: 4px 6px;
		background-color: var(--solid-background-base);
		color: var(--text-secondary);
		font-weight: 400;
		text-align: right;
		inline-size: fit-content;
		min-inline-size: 32px;
		border-inline-end: 1px solid var(--divider-stroke-default);

		span {
			display: block;
		}
	}
}

.example-app {
	@include flex($direction: column, $align: center, $justify: center);
	flex: 1 1 auto;
	padding-bottom: 32px;

	> div {
		margin-top: 12px;
	}
}
