@use "src/lib/mixins" as *;
@use "src/site/styles/mixins" as *;

:global {
    #hero-section {
        @include flex($direction: column, $justify: center, $align: center);
        position: relative;
        min-block-size: 596px;
        text-align: center;
        background: url("/hero-mica-light.png") center/170% no-repeat;
        @media (prefers-color-scheme: dark) {
            background-image: url("/hero-mica-dark.png");
        }
        > .page-section-inner {
            @include flex($direction: column, $align: center);
            position: relative;
            padding-block: 58px 128px;
        }
        h1 {
            font-size: 5.4rem;
        }
        .hero-card {
            .text-box-container {
                margin-bottom: 14px;
                margin-top: 4px;
            }
            .copy-box {
                font-family: var(--font-family-monospace);
            }
            header > .icon-button {
                position: absolute;
                top: 6px;
                right: 6px;
            }
        }
        .buttons-spacer .button {
            min-width: 128px;
        }
    }
}

.hero- {
    &contents,
    &cards {
        position: relative;
    }
    &cards {
        text-align: left;
        position: absolute;
        display: grid;
        grid-gap: 24px;
        bottom: -286px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        inline-size: 100%;
    }
}

.editor-body {
    @include flex($direction: column);
    flex: 1 1 auto;
    max-height: 100%;
    min-height: 0;
    line-height: 18px;
    font: {
        size: var(--fds-body-font-size);
        family: var(--font-family-monospace);
    }
    .editor-tabs {
        @include flex($align: center);
        flex: 0 0 auto;
        margin: 0;
        padding: 0;
        li {
            @include typography-body;
            margin: 0;
            border: 1px solid var(--fds-divider-stroke-default);
            border-top: 2px solid #ff3e00;
            border-bottom: none;
            background-color: var(--fds-solid-background-base);
            padding: 6px 12px;
            list-style-type: none;
        }
    }
    .editor {
        @include prism-vs-light;
        flex: 1 1 auto;
        display: flex;
        overflow: auto;
        overflow: overlay;
        max-height: 100%;
        min-height: 0;
        border-radius: var(--fds-control-corner-radius);
        border-top-left-radius: 0;
        background-color: var(--fds-solid-background-base);
        border: 1px solid var(--fds-divider-stroke-default);
        @media (prefers-color-scheme: dark) {
            @include prism-vs-dark;
            color-scheme: dark;
        }
        pre {
            user-select: text;
            padding: 4px;
            margin: 0;
            code {
                line-height: inherit;
            }
        }
    }
    .line-numbers {
        position: sticky;
        align-self: flex-start;
        z-index: 1;
        left: 0;
        font-weight: 400;
        background-color: var(--fds-solid-background-base);
        color: var(--fds-text-secondary);
        padding: 4px 6px;
        min-width: 32px;
        text-align: right;
        border-right: 1px solid var(--fds-divider-stroke-default);
        span {
            display: block;
        }
    }
}

.example-app {
    @include flex($direction: column, $align: center, $justify: center);
    flex: 1 1 auto;
    padding-bottom: 32px;
    > div {
        margin-top: 12px;
    }
}