/*
 * HyperlinkButton Element
 */

.hyperlink-button {
    user-select: none;
    display: inline-flex;
    align-items: center;
    text-align: left;
    word-break: break-word;
    color: var(--accent-text-default);
    background-color: var(--SubtleFillColorTransparent);
    border-radius: var(--control-corner-radius);
    padding: 5px 11px 6px 11px;
    transition: 83ms ease background-color;
    text-decoration: none;
    font: {
        size: var(--control-font-size);
        family: var(--control-font-family);
        weight: normal;
    }

    // Interaction states
    // Hover state
    &:hover {
        background-color: var(--SubtleFillColorSecondary);
    }

    // Active (pressed) state
    &:active {
        color: var(--accent-text-tertiary);
        background-color: var(--SubtleFillColorTertiary);
    }

    // Disabled state
    &.disabled {
        pointer-events: none;
        color: var(--accent-text-disabled);
    }
}